<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.suncontrol.core.repository.report.DailyReportRepository">

    <insert id="saveAll" parameterType="com.suncontrol.core.entity.report.DailyReport">
        INSERT INTO daily_report (
        inverter_id, base_date, day_offset,
        value_expected, value_actual, value_previous,
        performance_ratio, expected_ratio, capacity_factor, accum_energy,
        stopped_time, incident_count,
        weather_code
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.inverterId}, #{item.baseDate}, #{item.dayOffset},
            #{item.valueExpected}, #{item.valueActual}, #{item.valuePrevious},
            #{item.performanceRatio}, #{item.expectedRatio}, #{item.capacityFactor}, #{item.accumEnergy},
            #{item.stoppedTime}, #{item.incidentCount},
            #{item.weatherCode}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        value_expected = VALUES(value_expected),
        value_actual = VALUES(value_actual),
        value_previous = VALUES(value_previous),
        performance_ratio = VALUES(performance_ratio),
        expected_ratio = VALUES(expected_ratio),
        capacity_factor = VALUES(capacity_factor),
        accum_energy = VALUES(accum_energy),
        stopped_time = VALUES(stopped_time),
        incident_count = VALUES(incident_count),
        weather_code = VALUES(weather_code),
        updated_at = NOW()
    </insert>

    <select id="findAllLatestByInverter" resultType="com.suncontrol.core.entity.report.DailyReport">
        SELECT * FROM daily_report r1
        WHERE r1.day_offset = #{dayOffset}
        AND r1.base_date = (
        SELECT MAX(r2.base_date)
        FROM daily_report r2
        WHERE r2.inverter_id = r1.inverter_id
        AND r2.day_offset = #{dayOffset}
        )
    </select>

    <select id="findAllByDateBetween" resultType="com.suncontrol.core.entity.report.DailyReport">
        SELECT * FROM daily_report
        WHERE base_date
        BETWEEN #{start} AND #{end}
        AND day_offset = #{dayOffset}
    </select>
</mapper>