<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<div layout:fragment="content">


<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="w-full  rounded-lg border border-gray-500 relative py-[150px]" >
  <div class="pb-10">
    <p class="flex justify-center font-bold text-[30px] text-top-[20px] pb-10">깨끗한 에너지를 분석하고 있습니다.</p>
  </div>
  <div class="text-center pb-10">
    <div class="py-10">
      <p class="text-[20px]">현재 발전소 가동 정보를 분석하여 리포트로 담아내고 있습니다.</p>
    </div>
    <div>
      <p class="text-[20px]">한 달의 기록이 모두 마무리되는 매월 1일에 완성된 리포트를 확인해 보세요.</p>
    </div>
  </div>
  <div class="flex justify-center gap-2 absolute bottom-2 w-full py-5">
    <div class="w-[50px]">
      <img class="block text-left rounded-lg" src="/img.png">
    </div>
    <div>
      <p class="font-thin-bold text-center text-[25px]">SolarGuard</p>
      <P class="text-xs font-thin text-black-600">태양광 발전소 관제 시스템</P>
    </div>
  </div>




</div>

</body>
</div>
</html>